/* Réinitialisation des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  
}

/* Header */
header {
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
}

header h1{
    color: #ffffff;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1,
h2,
h3 {
    color: #333;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
}

a {
    color: #337ab7;
    text-decoration: none;
}

/* Styles pour la navigation */
.navbar {
    background-color: #333;
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    font-size: 24px;
}

.navbar ul {
    list-style: none;
}

.navbar ul li {
    display: inline-block;
    margin-left: 10px;
}

.navbar ul li a {
    color: #fff;
}

.navbar li:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

/* Styles pour les sections */
section {
    margin-bottom: 40px;
}

section h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

/* Styles pour les articles */
article {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

article h3 {
    font-size: 18px;
    margin-bottom: 10px;
}


/* Styles pour les questions et réponses */
.question {
    background-color: hwb(206 49% 41% / 0.604);
    margin-bottom: 20px;
}

.question h3 {
    background-color: hwb(206 49% 41% / 0.604);
    font-size: 16px;
    margin-bottom: 5px;
}

/* Styles pour le pied de page */
footer {
    background-color: #333;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-size: 14px;
}

footer p {
    margin: 0;
}